# =====================
# Python
# =====================

__pycache__/
*.py[cod]


# =====================
# Environment
# =====================

.conda/
.env


# =====================
# Jupyter
# =====================

.ipynb_checkpoints/


# =====================
# Mac
# =====================

.DS_Store


# =====================
# PyTorch checkpoints
# =====================

*.pt
*.pth


# =====================
# Dataset
# =====================

stage2_mlp_mnist/data/


# =====================
# Model checkpoints
# =====================

stage2_mlp_mnist/checkpoints/


# =====================
# WandB
# =====================

stage2_mlp_mnist/wandb/


# wandb logs
wandb/

# checkpoints
checkpoints/